/* Site Footer
---------------------------------------------------------------------------------------------------- */

.block-area-before-footer {
	padding: var(--wp--custom--layout--spacing) var(--wp--custom--layout--spacing-s);

	& > * {
		max-width: var(--wp--custom--layout--wide);
	}
}

.site-footer {
	background: var(--wp--preset--color--white);
	font-size: var(--wp--preset--font-size--small);
	padding: 40px 0;
	position: relative;
	text-align: center;
}
